@model Department


<div class="">


<div class="form-group">
    <label class="col-form-label" asp-for="@Model.Code"></label>
    <input asp-for="@Model.Code" class="form-control" readonly />

</div>

<div class="form-group">
    <label class="col-form-label" asp-for="@Model.Name"></label>
    <input asp-for="@Model.Name" class="form-control" readonly />

</div>
<div class="form-group">
    <label class="col-form-label" asp-for="@Model.DateOfCreation"></label>
    <input asp-for="@Model.DateOfCreation" class="form-control" readonly />
</div>


</div>